<!DOCTYPE html>
<html>
  <head>
    <title>ElementaryRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background: black; padding: 16px">
      <ul>
        <li><%= link_to "Learn about us", about_path %></li>
        <li><%= link_to "Contact us", contact_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
      <form action="/contact" method="get">
        <input type="text" name="member" placeholder="Who are you looking for?" value="<%= params[:member]  %>">
        <input type="text" name="hello" placeholder="say hi for me">
        <input type="submit">
      </form>
    </div>
    <%= yield %>
  </body>
</html>
